/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Space+Mono&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

div.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: 'Space Mono', monospace;
    background-color: #446161;
}

/* banner */
div.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: darkslategray;
    border-bottom: 2px dashed black;
}

div.banner h1 {
    font-size: 2.5rem;
    color: #fc9867;
    margin-left: 20px;
}

div.banner nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 100%;
    margin-right: 20px;
}

div.banner a {
    display: flex;
    align-items: center;
    height: 32px;
    background-color: #395858;
    border: 1px solid black;
    font-size: 2rem;
    width: 120px;
}

div.banner a:hover {
    background-color: #141F1F;
}

div.banner a p {
    color: #fc9867;
    text-align: center;
    width: 100%;
}
/* /banner */

/* big-picture */
div.big-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60vh;
    background-image: url("https://picsum.photos/1920/1080");
    background-position: center;
    text-align: center;
    margin: 50px 0;
}

div.big-picture h2 {
    font-size: 6rem;
    font-family: 'Archivo', sans-serif;
    color: #ab9df2;
    margin: 30px 0;
    white-space: nowrap;
}

div.big-picture a {
    font-size: 2.4rem;
    color: #78dce8;
    background-color: hsla(180, 22%, 10%, 0.75);
    padding: 6px 20px;
    max-width: 200px;
    border: 2px solid gray;
    border-radius: 15px;
}
/* /big-picture */

/* project-gallery */
div.project-gallery {
    border-top: 5px ridge gray;
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 25px;
    width: calc(100% - 25px);
    object-fit: none;
}

div.project img {
    margin: 10px;
    width: calc(100% - 10px);
}

@keyframes project-title-grow {
    from {padding: 0 10px;}
    to {padding: 10px 20px;}
}

@keyframes project-focus {
    from {flex-grow: 0;}
    to {flex-grow:1;}
}

div.project a.project-title {
    font-size: 2.4rem;
    padding: 0 1px;
    border: 2px groove #A9DC76;
    background-color: #2D4B4B;
    color: #A9DC76;
}

div.project:hover a.project-title {
    animation-name: project-title-grow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

div.project:hover {
    animation-name: project-focus;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
/* /project-gallery */

/* footer */
div.content-area footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    background-color: #1F2041;
}

div.content-area footer a {
    color: whitesmoke;
    font-size: 2.4rem;
    background-color: #282953;
    border: 1px groove  black;
    padding: 5px 12px;
    border-radius: 12px;
}
/* /footer */

@media(max-width: 800px) {
    div.banner {
        height: 100px
    }

    div.banner h1 {
        font-size: 2.5rem;
    }
    
    div.banner nav {
        width: 300px;
        flex-wrap: wrap;
    }
}

@media(max-width: 500px) {
    div.banner {
        flex-direction: column;
        justify-content: flex-start;
        height: 4rem;
        margin-bottom: 6.5rem;
    }
    
    div.banner h1 {
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }

    div.banner h1 br {
        display: none;
    }

    div.banner nav {
        margin: 0;
    }

    div.banner a {
        margin: 5px;
    }

    div.big-picture h2 {
        font-size: 4rem;
    }


}
